<style type="text/css"> 
bitext { font-family: Arial; }
title { position: fixed; width: 100%; display: block; font-size: 10pt; font-weight: bold; text-align: center; color: #fff; background-color: #0082b8; padding: 5px; margin-bottom: 10px; }
st { display: none; }
segments { margin: 5px; margin-top: 30px; display: table; font-size: 10pt; }
langsrc, langtgt, titlesrc, titletgt, namesrc, nametgt, generator, segmrules, filtering, datesrc, datetgt, datebtx { display: none; }
 { display: none; }
 { display: none; }
seg { display: block; clear: both; margin: 0; padding: 0; height: 6px; }
src { float: left; margin: 0; width: 48%; padding: 6px; vertical-align: middle; border-top: 1px solid #ddd;  }
tgt { float: right; margin: 0; width: 48%; padding: 6px; vertical-align: middle; border-top: 1px solid #ddd;  }
b { font-weight: bold; }
i { font-style: italic; }
u { text-decoration: underline; }
br {display: block; clear: both; margin: 0; padding: 0; height: 6px; }
</style> 